@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-color: #c6d7de;
    font-family: 'Montserrat';
}

#v0 {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#set-height{   
    background: transparent;
    opacity: 0;
    transition: 0.2s;
}
#set-height.hidden{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.5;
    transition: 0.2s;
}
#v1{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    opacity: 0;
    transition: 1s;
}
#v1.show{
    opacity: 1;
     transition: 1s;
}
#workOuts{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    z-index: 4;
    opacity: 0;
}
#workOuts.show{  
    opacity: 1;
}

#workOuts h2{
    max-width: 50%;
    background-image: url('../images/red-base.png');
    height: 3.5rem;
    background-size: cover;
    background-repeat: none;
    background-position-x: right;
    transition: 0.2s;
    transition: width 2s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-top: 6rem;
    width: 0;
    transition: 0.5s;
}
#workOuts.show h2{
    width: 50%;
    transition: 0.5s;
}


#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}
#element{
    background-color: rgba(0,0,0,0.4);
    /* background-color: red; */
    height: 350px;
    position: fixed;
    width: 35%;
    top: 0;
    left: 0;
    margin-left: 20vw;  
    transition: 0.5s;
}
#element.height{
     height: 550px;
     text-replace: 0.5s
}
.height::after{
    content: "Not your typical fitness. Workouts scheduled and guided by expert trainers, to unleash your best version";
    bottom: 0;
    color: #fff;
    position: absolute;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    text-align: center;
    animation: expand 1s;
}
@keyframes expand{
    0%{bottom:50px}
    100%{bottom:0px}
}


.content {
    position: sticky;
    position: -webkit-sticky;
    top: 25%;
}

h1 {
    font-size: 3em;
    display: inline-block;
    padding: 10px 25px;
    margin: 0;
    color: #fff;
}
.content p{
    display: inline-block;
    padding-left: 25px;
    color: #fff;
}
p { font-size: 1.5em; }

section:nth-of-type(1) {
    /* height: 1200px; */
}
.content{
    margin-left: 20vw;
}
section:nth-of-type(2) {
    height: 1200px;
}
section:nth-of-type(3) {
    height: 8000px;
}
section:nth-of-type(4) {
    height: 1500px;
    z-index: 6;
}
section:nth-of-type(5) {
    height: 1000px;
}
section:nth-of-type(6) {
    height: 1000px;
}
section:nth-of-type(7) {
    height: 1000px;
}
.workOutCard{
    background-color: rgba(0,0,0,0.5);
    min-height: 400px;
    
    text-align: center;
    position: relative;
    max-height: 500px;
    height: 500px;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    overflow-y: hidden;
}
.workOutCard .cardContent{
   
    position: absolute;
    transition: 2s;
    bottom: 0;
    scroll-behavior: smooth;
     height: 500px;
}
.workOutCard .cardContent.show{    
    position: absolute;
    bottom: 0;
    top: auto;
    transition: 2s;
    scroll-behavior: smooth;
     height: 900px;
}
.cardContent img{
    padding-top: 2.5rem;
}
.cardContent p{
    padding: 3rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.cardContent .morebtn{
    position: relative;
    margin-top: -4rem;
    padding-top: 0 !important;
    /* transition: 3s; */
    width: 2.5rem;
    transition-delay: 1.5s;
}
.cardContent.show .morebtn{
    transform: rotate(180deg);
    /* transition: 3s; */
    transition-delay: 1.5s;
}
.miniLine{
    margin-left: 15%;
    width: 70%;
}


.workOutCard h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
.workOutCard p{
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
.workOutCard hr{
    border-color: #666666;
}
.line{
    border: 1px solid #666666;
}
.morebtn{
    cursor: pointer;
}
#cont{
    position: absolute;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0,0,0,0.4);
    height: 10%;
    width: 100%;
    left: 0;
}
#cont.show{
    position: absolute;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    left: 0;
}

.rebBase{
    background-image: url('../images/red-base.png');
    height: 4rem;
    background-size: cover;
    background-repeat: none;
    background-position-x: right;
    left: 0;
    top: 50%;
     position: sticky;
    position: -webkit-sticky;
    top: 35%;
    opacity: 1;
    width: 0;
    transition: 0.2s;
}
.rebBase.show{
    width: 70%;
    opacity: 1;
    transition: 0.5s;
}
#rebBase{
    display: flex;
    align-items: center;
    justify-content: center;
}
#maximum{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 3rem;
    opacity: 0;
    transition: 0.2s;
}
#maximum.show{
    opacity: 1;
    transition: 0.5s;
     letter-spacing: 3rem;
}
#maximum.showNormal{
    letter-spacing: 0rem;
    transition: 0.3s;
}
.content h1{
    text-transform: uppercase;
}
#subTitle{
     position: sticky;
    position: -webkit-sticky;
}



.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.trainers{
     position: relative; 
     height: 1000px; 
     width: 100%; 
     background-color: #000; 
     z-index: 12;  
     position: sticky;
    position: -webkit-sticky; 
    top: 0px;
}
.workout-section{
    position: relative; 
    height: 100vh; 
    width: 100%; 
    background-color: Green; 
    z-index: 12; 
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
}
.trainer-content{
     position: relative; 
     height: 100vh;
     background:url('../images/section-3-bkgnd.jpg');
     background-position: center;
     background-size: cover;
     background-attachment: fixed;    
}
.workout-content{
     position: relative; 
     height: 100vh;
     background:url('../images/section-4-bkgnd.jpg');
     background-position: center;
     background-size: cover;
     background-attachment: fixed;    
}
.bg_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}

#heading-strip{
    background-image: url('../images/red-base.png');
    height: 3.5rem;
    background-size: cover;
    background-repeat: none;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    width: 60%;
    transition: 0.5s;
    z-index: 15;
    position: absolute; 
    top: 15%; 
    left:0
}
#heading-strip h2{
    font-size: 3.5rem;
    transition: 0.5s;
     text-transform: uppercase;
     margin-bottom: 0;
     color: #fff;
}
.trainer-Details{
    height: 30rem;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin-top: 14rem;
}
.thumb-details{
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.thumbStrip{
    width: 140px;
    background: rgba(0,0,0,0.4);
    height: 44rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.trainer-Details .CardOne{
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.6);
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.trainerImg{
    width: 475px;
   height: 30rem;
    background: transparent;
}
.trainerContent{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.trainerContent h3{
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
}
.trainerContent p{
    font-size: 0.76rem;
    font-weight: 400;
    color: #fff;
    text-align: justify;
}

.trainerImg img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.trainerD{
    display: flex;
    left: -255px;
    align-items: center;
    position: relative;
    transition: ease-in-out 0.5s;
    justify-content: space-between;
    height: 30rem;
}
.trainerContent{
    width: 270px;
}
.trainerD.show{
    left: 0px;
    transition: ease-in-out 0.5s;
}

/* .trainerD{
    display: flex;
    left: -255px;
    align-items: center;
    position: absolute;
    top: 0;
    transition: 0.2s;
    justify-content: space-between;
    height: 0rem;
    opacity: 0;
}

.trainerD.active{
    height: 30rem;
    opacity: 1;
     transition: 1s;
     z-index: 999;
} */

/* #thumb1img{
    z-index: 17;
}
#thumb2img{
    z-index: 18;
}
#thumb3img{
    z-index: 19;
}
#thumb4img{
    z-index: 20;
} */

.iconTrainer{    
    margin-right: -1rem;
    position: relative;
    width: 2.2rem;
    margin-left: 0.3rem;
    cursor: pointer;
}
.trainerD .iconTrainer{
    transform: rotate(90deg);
}
.trainerD.show .iconTrainer{
    transform: rotate(-90deg);
}

.CardMain{
    position: absolute;
    top: -100%;
    transition:ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
}
.thumbli{
    height: 80px;
    width: 80px;
    background: #fff;
    border: 2px solid #fff;
}
.thumbStrip ul{
    list-style: none;
    padding: 0;
}
.thumbStrip ul li{
    margin-bottom: 2rem;
    cursor: pointer;
    overflow:hidden;
    /* object-fit: contain; */
}
.thumbli div{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s;
}
.thumbStrip ul li:hover div{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.2s;
    transform: scale(1.2);
}
.thumbStrip ul li.active div{
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.2s;
    transform: scale(1.2);
}
#thumb1 div{
    background-image: url('../images/trainer-sapna.jpg');
}
#thumb2 div{
    background-image: url('../images/trainer-vinod.jpg');
}
#thumb3 div{
    background-image: url('../images/trainer-janet.jpg');
}
#thumb4 div{
    background-image: url('../images/trainer-ashraf.jpg');
}
.cardLeft{
    max-width: 100px;
}
.trainerName{
   /* transform: rotate(-90deg);     */
   height:480px;
   display: flex;
}
.trainerName .rotate{
transform: rotate(-90deg);     
}
.trainerName h2{
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: 600;
  text-transform: uppercase;  
  width: 475px;  
  padding-left: 1.5rem;
}
.trainerName h3{
   font-size: 1rem;
  color: #fafafa;
  font-weight: 400;
  text-transform: uppercase; 
  width: 475px; 
  padding-left: 1.5rem;
  margin-bottom: 0;    
}

.cardLeft{
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
.CardName{
    position: absolute;
    bottom: -100%;
     transition:ease-in-out 0.5s;
}
.owlGymTour .img_box{
    height: 400px;
    margin: 5rem;
    background-position: left;
    background-size: cover;
    /* background-attachment: fixed; */
}
.owl-carousel{
    margin-top: 10%;
}
.owl-carousel .owl-item {
  transition: ease-out 1s;
  transform: scale(1) !important;
}
.owl-carousel .owl-item.active.center {
  transform: scaleY(1.2) !important;
  z-index: 9;
   transition: 0.5s;
}

.owl-carousel .img_box{
    background-position: right;
     transition: ease-in-out 0.5s;
}

.owl-carousel .owl-item.active.center .img_box{
    background-position: center;
     transition: 0.5s;
}

.owl-carousel .owl-item.active.center+ .owl-item .img_box{
    background-position: left !important;
     transition: 0.5s;
     color: red;
}

.owlGymTour .owl-dots{
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owlGymTour button.owl-dot{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: 1px solid #fff !important;
    margin: 0 0.5rem;
}
.owlGymTour button.owl-dot.active, .owlGymTour button.owl-dot:hover{
    background: #fff !important;
    border: 1px solid #fff !important;
    margin: 0 0.5rem;
}
.owl-nav{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7rem;
    line-height: 0;
}
.owl-nav a{
    color: transparent;
}
.owl-nav a:hover{
    color: #fff;
    text-decoration: none;
}
.owl-nav img{
    width: 5rem;
    opacity: 0;
}
.owl-nav a:hover img{
     opacity: 1;
}








/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


  #burger{
      display: none;
  }
  #menuBar{
      margin-bottom: 0;
  }
  .navbar{
      padding: 5px;
  }

.navbar input + label {
	 position: absolute;
	 top: 20px;
	 right: 40px;
	 height: 20px;
	 width: 25px;
	 z-index: 5;
}
 .navbar input + label span {
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 top: 50%;
	 /* margin-top: -1px; */
	 left: 0;
	 display: block;
	 background: #ffffff;
	 transition: 0.5s;
}
 .navbar input + label span:first-child {
	 top: 3px;
}
 .navbar input + label span:last-child {
	 top: 16px;
}
 .navbar label:hover {
	 cursor: pointer;
}
 .navbar input:checked + label span {
	 opacity: 0;
	 top: 50%;
}
 .navbar input:checked + label span:first-child {
	 opacity: 1;
	 transform: rotate(405deg);
}
 .navbar input:checked + label span:last-child {
	 opacity: 1;
	 transform: rotate(-405deg);
}
 .navbar input ~ .nav {
	background-color: rgba(0,0,0,0.5);
	 position: fixed;
	 top: 0;
	 right: 0;
	 width: 0;
	 height: 100%;
	 z-index: 3;
	 transition: 0.5s;
	 /* transition-delay: 0.2s; */
	 overflow: hidden;
}
#sideNav{
     backdrop-filter: blur(6px);
}
 .navbar input:checked ~ .nav {
	 height: 100%;
	 transition-delay: 0.3s;
     width: 25rem;
}
.bg-theme{
    background-color: rgba(0,0,0,0.4);
}
.menuBase{
    padding: 4rem 5rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 20rem;
}
#sideNav ul{
    list-style: none;
    padding-left: 0;
}
.menuList li{
    padding-bottom: 1rem;
}
.menuList ul{    
    border-bottom: 1px solid #666;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    margin-bottom: 1.5rem;
}
.menuList li a, .menuContact h2, .menuTiming h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    
}
.menuContact li,
.menuTiming li{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.8rem;
}
.menuTiming{
    padding-top: 1rem;
}


@media (max-width:767.9px){
    #v0{
        object-position: 64%;
        height: 100%;
    }
    .navbar{
        padding-left: 10%;
    }
    .menuContact ul{
        display: flex;
        justify-content: space-between;
    }
    .menuBase{
        width: 100%;
        padding-right: 3rem;
    }
    .menuContact{
        width: 100%;
    }
    .menuTiming li{
        width: 50%;
        float: left;
    }
}

 